 <ApplicationConnectionConfiguration Version="1.0.0"
	xmlns="http://EpicSystems.com/Schemas/Foundations/2007-04/ECF/AppConnectionConfig">
	<WorkstationId UseComputerName="false"></WorkstationId>
	<EnvironmentDirectories>
		<Directory>.\</Directory>
	</EnvironmentDirectories>
	<NetworkTrafficTracing Enabled="false">
		<Directory></Directory>
	</NetworkTrafficTracing>
	<CaCertificateFile></CaCertificateFile>
	<SharedConnectionProvider>
		<UseScpServer>false</UseScpServer>
	</SharedConnectionProvider>
 </ApplicationConnectionConfiguration>