<EnvironmentConfiguration Version="1.0.0" xmlns="http://epicsystems.com/schemas/Foundations/2007-04/ECF/EnvConfig">
	<LogicalEnvironments>
		<LogicalEnvironment Id="FNDLABDVA" Enabled="true">
			<Connections>
				<Connection Enabled="true" Type="ECF">
					<FixedKey>6under</FixedKey>
					<Hostname>epic-fndlab2</Hostname>
					<Port>5085</Port>
					<CommandTimeoutSeconds>200</CommandTimeoutSeconds>
					<PooledMaximumIdleSeconds>500</PooledMaximumIdleSeconds>
					<PooledMaximumLifetimeSeconds>60000</PooledMaximumLifetimeSeconds>
					<FunctionalTypes>
						<FunctionalType>Primary</FunctionalType>
					</FunctionalTypes>
				</Connection>
			</Connections>
		</LogicalEnvironment>
		<LogicalEnvironment Id="FNDLABDVB" Enabled="true">
			<Connections>
				<Connection Enabled="true" Type="ECF">
					<FixedKey>6under</FixedKey>
					<Hostname>epic-fndlab2</Hostname>
					<Port>5086</Port>
					<CommandTimeoutSeconds>200</CommandTimeoutSeconds>
					<PooledMaximumIdleSeconds>500</PooledMaximumIdleSeconds>
					<PooledMaximumLifetimeSeconds>60000</PooledMaximumLifetimeSeconds>
					<FunctionalTypes>
						<FunctionalType>Primary</FunctionalType>
					</FunctionalTypes>
				</Connection>
			</Connections>
		</LogicalEnvironment>
	</LogicalEnvironments>
</EnvironmentConfiguration>
